{% extends "layout.html" %}
{% block body %}

<head>
    <title>Listen Local Alpha</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      $( function() {
        var dateFormat = "yyyy/mm/dd",
          from = $( "#from" )
            .datepicker({
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 1
            })
            .on( "change", function() {
              to.datepicker( "option", "minDate", getDate( this ) );
            }),
          to = $( "#to" ).datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1
          })
          .on( "change", function() {
            from.datepicker( "option", "maxDate", getDate( this ) );
          });

        function getDate( element ) {
          var date;
          try {
            date = $.datepicker.parseDate( dateFormat, element.value );
          } catch( error ) {
            date = null;
          }
          return date;
        }
      } );
      </script>

      <script>
        $( function() {
          var availableTags = {{  venues|tojson }};
          $( "#venue" ).autocomplete({
            source: availableTags,
            delay: 250,
            minLength: 3,
          });
        } );
      </script>

    <script type=text/javascript>
      $(function() {
        $('a#submit_date').on('click', function() {
        $.getJSON('/create_playlist', {
          from: $('input[name="from"]').val(),
          to: $('input[name="to"]').val(),
          venue: $('input[name="venue"]').val(),
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
        });
      });
    </script>

    <script>
      function changeText() {
         document.getElementById('makeplaylist').innerHTML = 'Creating Playlist...';
        };
    </script>



</head>

    <div class="container">
        <div class="header">
            <h4 class="text-muted">Discover What's Around the Corner</h4>
        </div>

        <div class="lead-image">
          <img src="/static/listenlocalimage.png" alt="Listen Local" height="125" width="125"></img>
        </div>

        <div class="jumbotron">
            <div class="instructions">
                <p>1. set dates</p>
                <p>2. choose venue</p>
                <p>3. click button</p>
                <p>4. enjoy tunes!</p>
            </div>
            <p class="lead"></p>
            <p>
                <label for="from">From</label>
                <input type="text" id="from" name="from">
                <label for="to">to</label>
                <input type="text" id="to" name="to">
            </p>

            <div class="ui-widget">
              <label for="venue">Select Venue: </label>
              <input type="text" id="venue" name="venue">
            </div>

        </div>
        <p></p>
        <div>
          <form>
            <a href=# id=submit_date><button class='btn btn-default' onclick='changeText()'>Create Playlist!</button></a>
          </form>
        <p id='makeplaylist' style='color:gray'>What are you waiting for?</p>
        <p id=result style='color:gray'></p>
        </div>

        <br><br>

		<p style="font-size:12px">
            {{ logged_in }}
        </p>


    </div>

    <footer class="footer">
        <p style="font-size:11px"> created by <a href="https://github.com/afeierman"> Andrew Feierman</a>, available on <a href="https://github.com/afeierman/listen-local"> github </a> </p>
    </footer>

{% endblock %}